.landing-page-section {
  padding-top: 80px;
}

.picture-banner {
  color: rgb(255, 255, 255);
  position: relative;
  min-height: 250px;
  margin-top: -100px;
  background: url('http://www.maplin.ie/medias/homepage-slider1-15032017-DJI-Drones.jpg?context=bWFzdGVyfGltYWdlc3w3MDg0NXxpbWFnZS9qcGVnfGltYWdlcy9oODUvaDM0Lzk1Mzg1NzM5OTE5NjYuanBnfGVlMjUxZmNkZTk2NGE3NTVjNDYzZjdjODhjNzkzN2VkYzMzMmZkNTIyOThmN2Q2ODg2OWIxNDkwNDEwYjVkY2E') no-repeat scroll 0px 100% / cover transparent;
}

.recent-stocks {
  padding-top: 20px;
}

.stock-well {
  display: flex;
  background-color: #FFFFFF !important;
  cursor: pointer;
  flex-direction: column;
}

.stock-well-image {
  align-self: center;
}

.stock-well-rating-price {
  display: flex;
  justify-content: space-between;
}

.stock-well-title {
  font-size: 12px !important;
  margin-top: 10px;
}
