.top-navbar-section {
}

.bottom-navbar-section {
  background-color: #eaeaea;
}

.bottom-navbar-section-menu-item {
  border-right: 1px solid #FFFFFF;
  cursor: pointer;
}

.navbar {
  background-color: #ffffff !important;
  color: black !important;
  border-bottom: 3px solid #FFFFFF;
}

.login-form-label {
  margin: 0px !important;
}

.mini-pic {
  height: 37px !important;
  width: 37px !important;
  min-width: 37px !important;
  margin: 10px 1px !important;
  padding-top: 0px !important;
}

.navbar-profile-options {
  width: 280px !important;
  color: #00695F;
  padding-top: 0px !important;
  border-color: #00695F;
}


.profile-option {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.profile-option-left {
  font-size: 16px !important;
  padding: 13px 16px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

.profile-option-right {
  padding: 13px 16px;
  cursor: pointer;
}

.panel-heading {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.shopping-cart-info {
  width: 480px !important;
  color: #00695F;
  padding-top: 0px !important;
  border-color: #00695F;
  max-height: 315px;
  overflow: scroll;
}

.message-header {
  background-color: #4F92FF !important;
  color: #ffffff !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.shopping-cart-item {
  display: flex;
}

.shopping-cart-item-title {
  font-size: 18px !important;
}

.shopping-cart-item-price {
  display: flex;
  justify-content: space-between;
}

.delete-item {
  cursor: pointer;
}

.shopping-cart-footer{
  display: flex;
  align-items: baseline;
  margin: 10px !important;
}

.add-product-form-label {
  margin: 0px !important;
}

.add-product-form-picture-upload {
  cursor: pointer !important;
}