.product-page-top-section {
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-around;
}

.profile-picture-container {
  background-color: #FFFFFF;
}

.product-title-info {
  font-size: 26px !important;
  line-height: 32px !important;
  margin: 15px;
  font-weight: normal !important;
}

.product-price-info {
  font-size: 59px;
  color: #00bce4;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-rating {
  display: flex;
  margin: 30px;
  font-size: 26px;
  line-height: 32px;
}

.add-to-basket-btn {
  width: 0% !important;
}

.overview-section {
  background-color: #ffffff;
}

.tab-menu {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 15px;
  padding: 0px 15px;
  border-bottom: 1px solid #96000e;
  background-color: #ffffff !important;
  color: #000 !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.tab-options {
  display: flex;
  align-items: baseline;
}

.menu-pills {
  background-color: #ffffff !important;
  color: #000 !important;
  cursor: pointer;
  position: relative;
  display: block;
  padding: 10px 15px;
}

.activeoverviewpill {
  border-bottom: solid #ff0000;
}

.review-banner {
  margin: 15px;
}

.product-description {
  text-align: justify;
  white-space: pre-line
}

.review-well {
  display: flex;
}

.comment-rating {
  display: flex;
  flex-direction: column;
  margin-left:10px;
}

.review-comment {
  text-align: justify;
  white-space: pre-line
}

.recommended-well {
  display: flex;
}

.recommended-product-details {
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin-left:10px;
}

.recommended-product-title {
  font-size: 15px;
}

.recommended-product-price {
  font-size: 25px;
}

.add-to-basket-section {
  display: flex;
}

.add-to-basket-item-quantity {
  width: 20% !important;
}

.item-stat-graph{
  height: 400px!important;
  width: 400px!important;
}