.filter-item {
  display: flex;
  justify-content: space-between;
}

.filter-well {
  display: flex;
}

.filtered-item-well {
  display: flex;
}

.filtered-item-middle-section {
  display: flex;
  flex-direction: column;
  margin-left:10px;
  cursor: pointer;
}

.filtered-item-title {
  font-size: 20px;
  text-align: justify;
  white-space: pre-line;
  cursor: pointer;
}

.filtered-item-rating {
  margin-top: 10px;
  cursor: pointer;
}

.filtered-item-price {
  font-size: 49px;
  color: #00bce4;
  cursor: pointer;
  margin: 30px;
}

.filtered-item-edit-product {
  cursor: pointer;
}

.edit-product-form-label {
  margin: 0px !important;
}

.edit-product-form-picture-upload {
  cursor: pointer !important;
}
