<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well">
                <form class="form-horizontal">
                <fieldset>
                    <div class="form-group">
                        <label for="inputUsername" class="col-md-2 control-label edit-product-form-label"><i class="material-icons">title</i></label>

                        <div class="col-md-10">
                            <input type="text" ng-disabled="true" ng-model="profileDetails.username" class="form-control" id="inputUsername" placeholder="Username" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-md-2 control-label edit-product-form-label"><i class="material-icons">email</i></label>

                        <div class="col-md-10">
                            <input type="text" ng-model="profileDetails.email" class="form-control" id="inputEmail" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-md-2 control-label edit-product-form-label"><i class="material-icons">vpn_key</i></label>

                        <div class="col-md-10">
                            <input type="text" ng-model="profileDetails.password" class="form-control" id="inputPassword" placeholder="Password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPaymentMethod" class="col-md-2 control-label edit-product-form-label"><i class="material-icons">attach_money</i></label>

                        <div class="col-md-10">
                            <input type="text" ng-model="profileDetails.paymentMethod" class="form-control" id="inputPaymentMethod" placeholder="Payment Method" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputShippingAddress" class="col-md-2 control-label edit-product-form-label"><i class="material-icons">location_on</i></label>

                        <div class="col-md-10">
                            <input type="text" ng-model="profileDetails.shippingAddress" class="form-control" id="inputShippingAddress" placeholder="Shipping Address" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputSubscriber" class="col-md-2 control-label edit-product-form-label"><i class="material-icons">thumb_up</i></label>

                        <div class="col-md-10">
                            <input type="text" ng-model="profileDetails.subscriber" list="subscriberList" class="form-control" id="inputSubscriber" placeholder="Payment Method" required>
                            <datalist id="subscriberList">
                                <option>true</option>
                                <option>false</option>
                            </datalist>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3 input-group">
                            <button ng-click="updateCustomer()" data-dismiss="modal" aria-hidden="true" type="submit" class="btn btn-info btn-lg btn-block btn-raised">Update</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            </div>
        </div>
    </div>
</div>