<div class="container landing-page-section">
    <div class="picture-banner img-responsive"></div>
    <div class="row recent-stocks">
        <div class="col-md-3" ng-repeat="recentStock in allStocks ">
            <div class="well stock-well" ng-click="goToProduct(recentStock)">
                <img src="{{recentStock.stockImageUrl}}" width="164" height="164" class="stock-well-image">
                <p class="stock-well-title">{{recentStock.title}}</p>
                <div class="stock-well-rating-price">
                    <div class="stock-well-rating">
                        <jk-rating-stars rating="recentStock.averageRating" read-only="true" ></jk-rating-stars>
                    </div>
                    <h5 class="stock-well-price">${{recentStock.price}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
    