<div class="container" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <div class="row">
        <div class="col-md-3">
            <div class="filter-well well">
                <div class="col-md-12">
                    <h4>Price Range</h4>
                    <div class="togglebutton filter-item">
                        <div class="price-range">$300 - $459</div>
                        <label>
                            <input type="checkbox" checked="true">
                        </label>
                    </div>
                    <div class="togglebutton filter-item">
                        <div  class="price-range">$460 - $659</div>
                        <label>
                            <input type="checkbox" checked="true">
                        </label>
                    </div>
                    <div class="togglebutton filter-item">
                        <div  class="price-range">$660 - $1200</div>
                        <label>
                            <input type="checkbox" checked="true">
                        </label>
                    </div>
                    <div class="togglebutton filter-item">
                        <div  class="price-range">over - $1200</div>
                        <label>
                            <input type="checkbox" checked="true">
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="filtered-item-well well" ng-repeat="p in products">
                <img src="{{p.stockImageUrl}}" width="152" height="152">
                <div class="filtered-item-middle-section" ng-click="goToProduct(p)">
                    <div class="filtered-item-title">
                        {{p.title}}
                    </div>
                    <div class="filtered-item-rating">
                        <jk-rating-stars rating="p.averageRating" read-only="true" ></jk-rating-stars>
                    </div>
                </div>
                <div class="filtered-item-price" ng-click="goToProduct(p)">
                    ${{p.price}}
                </div>
                <div ng-show="$root.mainAdmin" class="filtered-item-edit-product">
                    <i data-toggle="modal" data-target="#editProductModal" ng-click="editProduct(p)" class="material-icons">mode_edit</i>
                </div>
            </div>
        </div>
        <div class="modal" id="editProductModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Edit Product</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label for="inputTitle" class="col-md-2 control-label edit-product-form-label"><i class="material-icons">title</i></label>

                                    <div class="col-md-10">
                                        <input type="text" ng-model="updateProduct.title" class="form-control" id="inputTitle" placeholder="Title" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputCategory" class="col-md-2 control-label edit-product-form-label"><i class="material-icons">important_devices</i></label>

                                    <div class="col-md-10">
                                        <input type="text"  ng-model="updateProduct.category" list="categoryList" class="form-control" id="inputCategory" placeholder="Category" required>
                                        <datalist id="categoryList" >
                                            <option>Laptops</option>
                                            <option>Ipads & Phones</option>
                                            <option>Software</option>
                                            <option>Printers</option>
                                            <option>PC Accessories</option>
                                            <option>Gaming</option>
                                        </datalist>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputManufacturer" class="col-md-2 control-label edit-product-form-label"><i class="material-icons">business</i></label>

                                    <div class="col-md-10">
                                        <input type="text" ng-model="updateProduct.manufacturer" class="form-control" id="inputManufacturer" placeholder="Manufacturer" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPrice" class="col-md-2 control-label edit-product-form-label"><i class="material-icons">attach_money</i></label>

                                    <div class="col-md-10">
                                        <input type="text" ng-model="updateProduct.price" class="form-control" id="inputPrice" placeholder="Price" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputStockLevel" class="col-md-2 control-label edit-product-form-label"><i class="material-icons">show_chart</i></label>

                                    <div class="col-md-10">
                                        <input type="text" ng-model="updateProduct.stockLevel" class="form-control" id="inputStockLevel" placeholder="Stock Level" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="uploadInput" class="col-md-2 control-label edit-product-form-label"><i class="material-icons">file_upload</i></label>

                                    <div class="col-md-5 edit-product-form-picture-upload">
                                        <img class="edit-product-form-picture-upload" src="{{updateProduct.stockImageUrl}}" width="152" height="152">
                                        <input id="uploadInput" type="file" onchange="angular.element(this).scope().fileStockPhotoSelected(this)" accept="image/*" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="textArea" class="col-md-2 control-label"><i class="material-icons">description</i></label>

                                    <div class="col-md-10">
                                        <textarea ng-model="updateProduct.description" class="form-control" rows="3" id="textArea" placeholder="Description"></textarea>
                                        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3 input-group">
                                        <button ng-click="editExisitingProduct()" data-dismiss="modal" aria-hidden="true" type="submit" class="btn btn-info btn-lg btn-block btn-raised">Update</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>