<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well product-page-top-section">
                <div class="profile-picture-container">
                    <img class="product-picture" src="{{product.stockImageUrl}}" width="283" height="283">
                </div>
                <div class="">
                    <h1 class="product-title-info">{{product.title}}</h1>
                    <div class="product-rating">
                       Average Rating: <jk-rating-stars rating="product.averageRating" read-only="true" ></jk-rating-stars>
                    </div>
                    <div class="product-rating">
                       Quantity: {{product.stockLevel}} left in stock
                    </div>
                </div>
                <div class="product-price-info well">
                    <p class="profile-summary">${{product.price}}.00</p>
                    <div class="add-to-basket">
                        <div class="form-group">
                            <div ng-show="product.stockLevel>0" class="input-group add-to-basket-section">
                                <input ng-model="item.quantity" type="number" min="1" max="{{product.stockLevel}}" id="addon1" class="form-control add-to-basket-item-quantity" required>
                                <span class="input-group-btn add-to-basket-btn">
                                    <button ng-disabled="!item.quantity" ng-click="addToCart()" class="btn btn-raised btn-success">Add To Basket</button>
                                </span>
                            </div>
                            <div ng-show="product.stockLevel==0" class="form-group">
                                <div class="col-md-6 input-group">
                                    <button class="btn btn-info btn-lg btn-block btn-raised">Out Of Stock</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="well overview-section">
                <div class="tab-menu">
                    <div class="tab-options">
                        <ul class="nav nav-pills">
                            <li ng-class="{activeoverviewpill: overviewMode == true}" ng-click="tabMode(1)" class="menu-pills">Overview</li>
                            <li ng-class="{activeoverviewpill: reviewMode == true}" ng-click="tabMode(2)" class="menu-pills">Reviews</li>
                            <li ng-if="mainAdmin" ng-class="{activeoverviewpill: statMode == true}" ng-click="tabMode(3)" class="menu-pills">Statistics</li>
                        </ul>
                    </div>
                </div>
                <div ng-show="overviewMode == true" class="product-description">
                    <h4>Product Details</h4>
                    {{product.description}}
                </div>
                <div ng-show="reviewMode == true">
                    <img class="review-banner" src="../../resources/img/productpage-review.png">
                    <h4>Reviews</h4>
                    <div class="review-well well" ng-repeat="r in reviews">
                        <img src="../../resources/img/avatar.png" width="79" height="79">
                        <div class="comment-rating">
                            <div class="review-comment">
                                {{r.comment}}
                            </div>
                            <div class="review-rating">
                                <jk-rating-stars rating="r.rating" read-only="true"></jk-rating-stars>
                            </div>
                        </div>
                    </div>
                    <form ng-show="mainUser">
                        <fieldset>
                            <legend>Leave a review</legend>
                            <div class="form-group">
                                <label for="textArea" class="col-md-2 control-label"><i class="material-icons">description</i></label>

                                <div class="col-md-10">
                                    <textarea ng-model="customerProductReview.comment" class="form-control" rows="3" id="textArea" placeholder="Description"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="rateProduct" class="col-md-2 control-label add-product-form-label"><i class="material-icons">star</i></label>

                                <jk-rating-stars id="rateProduct" rating="rating" on-rating="customerProductReview.rating = rating"></jk-rating-stars>
                            </div>
                            <div class="form-group">
                                <div class="col-md-6 col-md-offset-3 input-group">
                                    <button ng-disabled="!customerProductReview.comment" ng-click="postAReview()" data-dismiss="modal" aria-hidden="true" type="submit" class="btn btn-info btn-lg btn-block btn-raised">Save</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div ng-show="statMode == true" >
                    <h4>Product Stats</h4>
                    <canvas id="bar" class="chart chart-bar"
                            chart-data="data" chart-labels="labels" chart-series="series" chart-colors="colors">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="well recommended-products">
                <h4>Recommended products</h4>
                <div class="recommended-well well">
                    <img src="{{product.stockImageUrl}}" width="90" height="90">
                    <div class="recommended-product-details">
                        <div class="recommended-product-title">
                            {{product.title}}
                        </div>
                        <div class="recommended-product-price">
                           ${{product.price}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>