<nav id="mainNav" class="navbar navbar-default homepage">
    <div class="container top-navbar-section">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Techtronics</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right ">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"><i data-count="{{shoppingCart.length}}" class="material-icons notification-icon">shopping_cart</i>
                        </a>
                    <ul class="dropdown-menu shopping-cart-info">
                        <div class="panel">
                            <div class="panel-heading message-header">
                                <h3 class="panel-title">Shopping Cart</h3>
                            </div>
                        </div>

                        <div class="list-group">
                            <div class="list-group-item shopping-cart-item" ng-repeat="sc in shoppingCart">
                                <div class="row-action-primary">
                                    <img class="img-responsive img-circle" src="{{sc.stock.stockImageUrl}}" width="37" height="37">
                                </div>
                                <div class="row-content">
                                    <h4 class="list-group-item-heading shopping-cart-item-title">{{sc.stock.title}}</h4>
                                    <div class="shopping-cart-item-price">
                                        <p class="list-group-item-text">Quantity: {{sc.quantity}}</p>
                                        <p class="list-group-item-text">Price: ${{sc.stock.price}}</p>
                                    </div>
                                </div>
                                <i ng-click="removeFromShoppingCart(sc)" class="material-icons delete-item">delete</i>
                            </div>
                            <div class="list-group-separator"></div>
                        </div>
                        <div class="shopping-cart-footer">
                            <div ng-click="checkout()" class="btn btn-block">Subtotal: ${{subtotalAfterDiscount}} </div>
                            <button data-toggle="modal" data-target="#checkoutModal" class="btn btn-primary btn-lg btn-block btn-raised">Proceed to checkout</button>
                        </div>
                    </ul>
                </li>
            </ul>
            <ul ng-show="!$root.loggedIn" class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" data-toggle="modal" data-target="#loginModal">Login</a>
                </li>
                <li>
                    <a class="page-scroll" ng-click="registerPage()">Sign up</a>
                </li>
            </ul>
            <ul ng-show="$root.loggedIn" class="nav navbar-nav navbar-right">
                <li>
                    <a ng-show="mainUser" class="page-scroll" >Hello, {{mainUser.username}}, check out the new laptops.</a>
                    <a ng-show="$root.mainAdmin" class="page-scroll" >Hello, Boss. What can I do for you today?</a>
                </li>
                <li class="dropdown">
                    <a class="btn btn-fab .btn-fab-mini mini-pic dropdown-toggle" data-toggle="dropdown">
                        <img ng-show="!mainUser.profilePictureUrl" class="img-responsive" src="resources/img/avatar.png" width="37" height="37">
                    </a>
                    <ul class="dropdown-menu navbar-profile-options">
                        <div class="panel">
                            <div class="panel-heading message-header">
                                <h3 class="panel-title">Account &amp; Settings</h3>
                            </div>
                        </div>
                        <div ng-show="$root.mainAdmin" class="profile-option">
                            <div class="profile-option-left">New product</div>
                            <div class="profile-option-right" data-toggle="modal" data-target="#addProductModal">Add</div>
                        </div>
                        <div class="profile-option">
                            <div class="profile-option-left">Profile Setting</div>
                            <div class="profile-option-right" ng-click="profilePage()">Edit</div>
                        </div>
                        <div class="profile-option">
                            <div ng-show="mainUser"  class="profile-option-left">{{mainUser.username}}</div>
                            <div ng-show="$root.mainAdmin" class="profile-option-left">{{$root.mainAdmin.username}}</div>
                            <div class="profile-option-right" ng-click="logout()">Logout</div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="modal" id="addProductModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">Add Product</h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label for="inputTitle" class="col-md-2 control-label add-product-form-label"><i class="material-icons">title</i></label>

                                    <div class="col-md-10">
                                        <input type="text" ng-model="newProduct.title" class="form-control" id="inputTitle" placeholder="Title" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputCategory" class="col-md-2 control-label add-product-form-label"><i class="material-icons">important_devices</i></label>

                                    <div class="col-md-10">
                                        <input type="text"  ng-model="newProduct.category" list="categoryList" class="form-control" id="inputCategory" placeholder="Category" required>
                                        <datalist id="categoryList" >
                                            <option>Laptops</option>
                                            <option>Ipads & Phones</option>
                                            <option>Software</option>
                                            <option>Desktop Monitors</option>
                                            <option>Printers</option>
                                            <option>PC Accessories</option>
                                            <option>Gaming</option>
                                        </datalist>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputManufacturer" class="col-md-2 control-label add-product-form-label"><i class="material-icons">business</i></label>

                                    <div class="col-md-10">
                                        <input type="text" ng-model="newProduct.manufacturer" class="form-control" id="inputManufacturer" placeholder="Manufacturer" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPrice" class="col-md-2 control-label add-product-form-label"><i class="material-icons">attach_money</i></label>

                                    <div class="col-md-10">
                                        <input type="text" ng-model="newProduct.price" class="form-control" id="inputPrice" placeholder="Price" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputStockLevel" class="col-md-2 control-label add-product-form-label"><i class="material-icons">show_chart</i></label>

                                    <div class="col-md-10">
                                        <input type="text" ng-model="newProduct.stockLevel" class="form-control" id="inputStockLevel" placeholder="Stock Level" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="uploadInput" class="col-md-2 control-label add-product-form-label"><i class="material-icons">file_upload</i></label>

                                    <div class="col-md-5 add-product-form-picture-upload">
                                        <img class="add-product-form-picture-upload" src="{{newProduct.stockImageUrl}}" width="152" height="152">
                                        <input id="uploadInput" type="file" onchange="angular.element(this).scope().storeElement(this)" accept="image/*" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="textArea" class="col-md-2 control-label"><i class="material-icons">description</i></label>

                                    <div class="col-md-10">
                                        <textarea ng-model="newProduct.description" class="form-control" rows="3" id="textArea" placeholder="Description"></textarea>
                                        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3 input-group">
                                        <button ng-click="addNewProduct()" data-dismiss="modal" aria-hidden="true" type="submit" class="btn btn-info btn-lg btn-block btn-raised">Save</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container bottom-navbar-section">
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a class="page-scroll bottom-navbar-section-menu-item" ng-click="categoryPage('Laptops')">Laptops</a>
                </li>
                <li>
                    <a class="page-scroll bottom-navbar-section-menu-item" ng-click="categoryPage('Ipads & Phones')">Ipads &amp; Phones</a>
                </li>
                <li>
                    <a class="page-scroll bottom-navbar-section-menu-item" ng-click="categoryPage('Software')">Software</a>
                </li>
                <li>
                    <a class="page-scroll bottom-navbar-section-menu-item" ng-click="categoryPage('Desktop Monitors')">Desktop Monitors</a>
                </li>
                <li>
                    <a class="page-scroll bottom-navbar-section-menu-item" ng-click="categoryPage('Printers')">Printers</a>
                </li>
                <li>
                    <a class="page-scroll bottom-navbar-section-menu-item" ng-click="categoryPage('PC Accessories')">PC Accessories</a>
                </li>
                <li>
                    <a class="page-scroll bottom-navbar-section-menu-item" ng-click="categoryPage('Gaming')">Gaming</a>
                </li>
                <li>
                    <a class="page-scroll bottom-navbar-section-menu-item" ng-click="categoryPage('Top Rating')">Top Rating</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal" id="loginModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Customer Login</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label for="inputEmail" class="col-md-2 control-label login-form-label"><i class="material-icons">person</i></label>

                                <div class="col-md-10">
                                    <input type="email" ng-model="customer.email" class="form-control" id="inputEmail" placeholder="email" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-md-2 control-label login-form-label"><i class="material-icons">vpn_key</i></label>

                                <div class="col-md-10">
                                    <input type="password"  ng-model="customer.password" class="form-control" id="inputPassword" placeholder="Password" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-3 input-group">
                                    <button data-dismiss="modal" ng-click="loginCustomer()" aria-hidden="true" type="submit" class="btn btn-info btn-lg btn-block btn-raised">Login</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="checkoutModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Checkout</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <h3>Customer Name: {{mainUser.username}}</h3>
                        <h3>Customer Email: {{mainUser.email}}</h3>
                        <h3>Delivery Address: {{mainUser.shippingAddress}}</h3>
                        <h3>Subtotal: ${{subtotalBeforeDiscount}}</h3>
                        <h3>Discount: ${{discount}}</h3>
                        <h3>Total Payable: ${{subtotalAfterDiscount}}</h3>
                    </div>
                    <div class="shopping-cart-footer">
                        <div data-dismiss="modal" aria-hidden="true" class="btn btn-success btn-raised btn-block">Continue Shopping</div>
                        <button ng-click="purchasePayment()" class="btn btn-primary btn-lg btn-block btn-raised">Pay</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>