<!DOCTYPE html>
<html lang="en" ng-app="ElectronicStoreApp" >
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="bemi">
    <title>Techtronics</title>
    <link rel='stylesheet' href='node_modules/bootstrap/dist/css/bootstrap.css'>
    <link rel='stylesheet' href='node_modules/font-awesome/css/font-awesome.min.css'>
    <link rel="stylesheet" href="node_modules/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap-material-design/dist/css/bootstrap-material-design.css">
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap-material-design/dist/css/ripples.min.css">
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap-notifications/dist/stylesheets/bootstrap-notifications.css">
    <link rel='stylesheet' href='node_modules/angular-jk-rating-stars/dist/jk-rating-stars.css'>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel='stylesheet' href='build/css/styles.scss' type="text/css">

    <script src="node_modules/lodash/lodash.js"></script>
    <script src="node_modules/angular/angular.js" ></script>
    <script src="node_modules/angular-jk-rating-stars/dist/jk-rating-stars.js"></script>
    <script src="node_modules/firebase/firebase.js"></script>
    <script src="node_modules/angularfire/dist/angularfire.js"></script>
    <script src="node_modules/jquery/dist/jquery.js" ></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="node_modules/angular-cookies/angular-cookies.js"></script>
    <script src="node_modules/angular-route/angular-route.js"></script>
    <script src="node_modules/bootstrap-material-design/dist/js/material.js"></script>
    <script src="node_modules/bootstrap-material-design/dist/js/ripples.js"></script>
    <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/chart.js/dist/Chart.js"></script>
    <script src="node_modules/angular-chart.js/angular-chart.js"></script>
    <script src="build/js/scripts.js"></script>
    <script>
        $(function () {
            $.material.init();
        });
    </script>
</head>

<body>
    <navbar></navbar>
    <ui-view></ui-view>

    <footer class="footer">
    <div class="container">
        <p>&copy; 2017 Techtronics. All Rights Reserved.</p>
        <ul class="list-inline">
            <li>
                <a href="#">Privacy</a>
            </li>
            <li>
                <a href="#">Terms</a>
            </li>
            <li>
                <a href="#">FAQ</a>
            </li>
            <li ng-show="!$root.loggedIn">
                <a href="" data-toggle="modal" data-target="#loginAdminModal">Admin Login</a>
            </li>
        </ul>
    </div>
</footer>

    <div class="modal" id="loginAdminModal" ng-controller="AdminLoginController">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Admin Login</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label for="inputEmail" class="col-md-2 control-label login-form-label"><i class="material-icons">person</i></label>

                            <div class="col-md-10">
                                <input type="email" ng-model="admin.email" class="form-control" id="inputEmail" placeholder="email" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPassword" class="col-md-2 control-label login-form-label"><i class="material-icons">vpn_key</i></label>

                            <div class="col-md-10">
                                <input type="password"  ng-model="admin.password" class="form-control" id="inputPassword" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-3 input-group">
                                <button data-dismiss="modal" ng-click="loginAdmin()" aria-hidden="true" type="submit" class="btn btn-info btn-lg btn-block btn-raised">Login</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
